{% extends 'blog/base.html' %}

{% block main %}
    {% if error_msg %}
        <h1 style="color:red">{{ error_msg }}</h1>
    {% endif %}
    {% for post in post_list %}
        <article class="post post-{{ post.pk }}">
            <header class="entry-header">
                <h1 class="entry-title">
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </h1>
                <div class="entry-meta">
                    <span class="post-category"><a href="#">{{ post.category.name }}</a></span>
                    <span class="post-date"><a href="#"><time class="entry-date"
                                                              datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
                    <span class="post-author"><a href="#">{{ post.author }}</a></span>
                    <span class="comments-link"><a href="#">{{ post.comment_set.count }} 评论</a></span>
                    <span class="views-count"><a href="#">{{ post.page_view }} 阅读</a></span>
                </div>
            </header>
            <div class="entry-content clearfix">
                <p>{{ post.abstract }}</p>
                <div class="read-more cl-effect-14">
                    <a href="{{ post.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                </div>
            </div>
        </article>
    {% empty %}
        <div class="no-post">暂时还没有发布的文章！</div>
    {% endfor %}

    <!-- 分页, 基于CBV，穿过来的context有Paginator自带的4个加上自定义的6个变量。详细看IndexView的get_context_data -->
    {% if is_paginated %}
    <div class="pagination">
        <!-- 第一页 -->
        {% if first %}
            <a href="?page=1">1</a>
        {% endif %}
        <!-- 当前页的左边 -->
        {% if left %}
            {% if left_has_more %}
                <span>...</span>
            {% endif %}
            {% for page_num in left %}
                <a href="?page={{ page_num }}">{{ page_num }}</a>
            {% endfor %}
        {% endif %}
        <!-- 当前页-->
        <a href="?page={{ page_obj.number }}" style="color: #44B78B">{{ page_obj.number }}</a>
        <!-- 当前页的右边 -->
        {% if right %}
            {% if right_has_more %}
                <span>...</span>
            {% endif %}
            {% for page_num in right %}
                <a href="?page={{ page_num }}">{{ page_num }}</a>
            {% endfor %}
        {% endif %}
        <!-- 最后一页 -->
        {% if last %}
            <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
        {% endif %}

    </div>
    {% endif %}

{% endblock main %}